# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=1.4.0=pypi_0
advertorch=0.2.3=pypi_0
anyio=4.4.0=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asttokens=2.4.1=pypi_0
astunparse=1.6.3=pypi_0
async-lru=2.0.4=pypi_0
attrs=23.2.0=pypi_0
autoattack=0.1=pypi_0
babel=2.15.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bleach=6.1.0=pypi_0
boltons=23.0.0=pypi_0
brotlipy=0.7.0=pypi_0
ca-certificates=2023.12.12=h06a4308_0
cachetools=5.3.0=pypi_0
certifi=2023.11.17=pypi_0
cffi=1.16.0=pypi_0
chardet=4.0.0=pypi_0
charset-normalizer=3.3.2=pypi_0
cma=4.0.0=pypi_0
cmake=3.26.0=pypi_0
comm=0.2.2=pypi_0
contourpy=1.0.7=pypi_0
cryptography=42.0.1=pypi_0
cycler=0.11.0=pypi_0
debugpy=1.8.1=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.8=pypi_0
et-xmlfile=2.0.0=pypi_0
exceptiongroup=1.2.1=pypi_0
executing=2.0.1=pypi_0
fastjsonschema=2.19.1=pypi_0
filelock=3.10.0=pypi_0
flatbuffers=1.12=pypi_0
fonttools=4.39.2=pypi_0
fqdn=1.5.1=pypi_0
fsspec=2023.12.2=pypi_0
future=1.0.0=pypi_0
fvcore=0.1.5.post20221221=pypi_0
gast=0.4.0=pypi_0
geotorch=0.3.0=pypi_0
google-auth=2.16.2=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.63.1=pypi_0
gpytorch=1.11=pypi_0
grpcio=1.53.0=pypi_0
h11=0.14.0=pypi_0
h5py=3.11.0=pypi_0
httpcore=1.0.5=pypi_0
httpx=0.27.0=pypi_0
huggingface-hub=0.13.2=pypi_0
idna=2.10=pypi_0
importlib-metadata=7.0.1=pypi_0
importlib-resources=6.1.1=pypi_0
iopath=0.1.10=pypi_0
ipykernel=6.29.4=pypi_0
ipython=8.18.1=pypi_0
isoduration=20.11.0=pypi_0
jaxtyping=0.2.28=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.4.2=pypi_0
json5=0.9.25=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.22.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter-client=8.6.2=pypi_0
jupyter-core=5.7.2=pypi_0
jupyter-events=0.10.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-server=2.14.1=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyterlab=4.2.2=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.2=pypi_0
keras=2.9.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.4=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libclang=18.1.1=pypi_0
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
linear-operator=0.5.2=pypi_0
lit=15.0.7=pypi_0
markdown=3.4.1=pypi_0
markupsafe=2.1.2=pypi_0
matplotlib=3.7.1=pypi_0
matplotlib-inline=0.1.7=pypi_0
mistune=3.0.2=pypi_0
mpmath=1.3.0=pypi_0
munch=4.0.0=pypi_0
nbclient=0.10.0=pypi_0
nbconvert=7.16.4=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pypi_0
networkx=3.0=pypi_0
ninja=1.11.1=pypi_0
notebook-shim=0.2.4=pypi_0
numpy=1.24.2=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu11=11.7.101=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cudnn-cu12=8.9.2.26=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-nccl-cu11=2.14.3=pypi_0
nvidia-nccl-cu12=2.18.1=pypi_0
nvidia-nvjitlink-cu12=12.3.101=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
oauthlib=3.2.2=pypi_0
opencv-python=4.9.0.80=pypi_0
openpyxl=3.1.5=pypi_0
openssl=3.0.12=h7f8727e_0
opt-einsum=3.3.0=pypi_0
overrides=7.7.0=pypi_0
packaging=23.0=pypi_0
palettable=3.3.3=pypi_0
pandas=1.3.5=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pypi_0
patsy=0.5.3=pypi_0
peppercorn=0.6=pypi_0
pexpect=4.9.0=pypi_0
pillow=9.4.0=pypi_0
pip=23.3.1=py39h06a4308_0
platformdirs=4.2.2=pypi_0
pluggy=1.4.0=pypi_0
portalocker=2.8.2=pypi_0
pretrainedmodels=0.7.4=pypi_0
prometheus-client=0.20.0=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.47=pypi_0
protobuf=3.19.6=pypi_0
psutil=5.9.8=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycosat=0.6.6=pypi_0
pycparser=2.21=pypi_0
pygments=2.18.0=pypi_0
pyopenssl=24.0.0=pypi_0
pyparsing=3.0.9=pypi_0
pysocks=1.7.1=pypi_0
python=3.9.18=h955ad1f_0
python-dateutil=2.8.2=pypi_0
python-json-logger=2.0.7=pypi_0
pytz=2022.7.1=pypi_0
pyyaml=6.0=pypi_0
pyzmq=26.0.3=pypi_0
readline=8.2=h5eee18b_0
referencing=0.35.1=pypi_0
requests=2.32.3=pypi_0
requests-oauthlib=1.3.1=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
robustbench=1.1=pypi_0
rpds-py=0.18.1=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.18.5=pypi_0
ruamel-yaml-clib=0.2.8=pypi_0
safetensors=0.4.2=pypi_0
scikit-learn=1.4.2=pypi_0
scipy=1.10.1=pypi_0
seaborn=0.13.2=pypi_0
send2trash=1.8.3=pypi_0
setuptools=68.2.2=py39h06a4308_0
six=1.16.0=pypi_0
sniffio=1.3.1=pypi_0
soupsieve=2.5=pypi_0
sqlite=3.41.2=h5eee18b_0
stack-data=0.6.3=pypi_0
statsmodels=0.13.5=pypi_0
sympy=1.11.1=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.9.1=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow-cpu=2.9.0=pypi_0
tensorflow-datasets=4.4.0=pypi_0
tensorflow-estimator=2.9.0=pypi_0
tensorflow-io-gcs-filesystem=0.37.0=pypi_0
tensorflow-metadata=1.13.0=pypi_0
termcolor=2.4.0=pypi_0
terminado=0.18.1=pypi_0
threadpoolctl=3.5.0=pypi_0
timm=1.0.3=pypi_0
tinycss2=1.3.0=pypi_0
tk=8.6.12=h1ccaba5_0
tomli=2.0.1=pypi_0
toolz=0.12.1=pypi_0
torch=2.0.0=pypi_0
torchaudio=2.0.1=pypi_0
torchdiffeq=0.2.3=pypi_0
torchsde=0.2.5=pypi_0
torchvision=0.15.1=pypi_0
tornado=6.4=pypi_0
tqdm=4.66.1=pypi_0
traitlets=5.14.3=pypi_0
trampoline=0.1.2=pypi_0
triton=2.0.0=pypi_0
typeguard=2.13.3=pypi_0
types-python-dateutil=2.9.0.20240316=pypi_0
typing-extensions=4.5.0=pypi_0
tzdata=2023d=h04d1e81_0
uri-template=1.3.0=pypi_0
urllib3=1.26.18=pypi_0
visdom=0.2.4=pypi_0
wcwidth=0.2.13=pypi_0
webcolors=24.6.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.7.0=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.41.2=py39h06a4308_0
wrapt=1.16.0=pypi_0
xz=5.4.5=h5eee18b_0
yacs=0.1.8=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.13=h5eee18b_0
zstandard=0.22.0=pypi_0
